<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="salonbelleza">Productos </a>
        </li>
 
        <li class="nav-item"  *ngIf="elementConvo == true">
          <a class="nav-link" routerLink="salonbelleza">Productos</a>
        </li>
        <li class="nav-item"  *ngIf="elementLogin == true">
            <!-- <a class="nav-link" routerLink="/" (click)="showData()">Login</a> -->
            <a class="nav-link" routerLink="pedidos" >Pedidos</a>
          </li>
       
       
      </ul>
    
    </div>
  </nav>